* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.work-sans {
  font-family: "Work Sans";
  font-optical-sizing: auto;
  font-weight: 400;

}


/* sehar style */

.flex-style {
  display: flex;

}

.btn {
  background-color: #FF900E;
  color: white;
  margin: 10px auto;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
}

/* heder style */
.heder-section {
  background-color: rgba(255, 144, 14, 0.1);
  width: auto;
  /* max-width: 1920px; */
  height: auto;


}


/* nav bar style */

.nav-section {
  justify-content: space-around;
  /* background-color: rgba(255, 144, 14, 0.1); */
  height: 150px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #131313;
}

.menu-list,
a {
  list-style: none;
  text-decoration: none;
  gap: 25px;
  color: #424242;
}

/* hero side style */


.hero-section {
  align-items: center;
  text-align: center;
  margin: 0 auto;


}



.hero-section-group h1 {
  font-weight: bold;
}

.hero-section-group .p {
  font-size: x-small;

}


.hero-section .hero-images {
  width: 71%;
  margin: 0 auto;
  margin-bottom: 20px;
}



/* main quick section */

.quick-future {
  display: flex;
  max-width: 1920px;
  width: 812px;
  margin: 40px auto;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

}

.quick-img {
  display: grid;
  width: 100%;
  height: auto;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.quick-img img {
  width: 100%;
  /* height: 200px; */

}

.q {
  color: #424242;
  font-weight: 446;
  font-size: 1rem;
}

.of-our {
  color: #131313;
  font-weight: bold;
  font-size: 1.25rem;
}

.p {
  line-height: 20px;
  font-size: small;
}

/* mobile screen */

@media screen and (max-width:786px) {
  .heder-section {
    max-width: 786px;
    /* width: 786px; */

  }

  .nav-section {
    flex-direction: column;

  }

  .quick-future {
    flex-direction: column;
    flex-direction: column-reverse;
    width: auto;
    padding: 20px;
  }

  .quick-img {
    grid-template-columns: repeat(1, 1fr);

  }

  .word {
    text-align: center;
  }


}